*.swp
*.OUT
*.out
*.GNN
*.gain
*.CR
*.bas
*.BAS
*.INP
*.nout
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
README.html
__pycache__
pymininec.egg-info
build
dist
announce_pypi
upload_pypi
.coverage
*.hacked
old
zoppel.png
timing*
stuff
